<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- Bootstrap CSS (CDN) -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-GTZPIp8KSJ63g+Uv4R7I4vSbItr4gNK3uxRzGH+3sqZgZ/Gs6kyHE+0iwI18JdEL"
  crossorigin="anonymous"
/>

<!-- Bootstrap JS + dependencies -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc5iEmRM9E3U9UaF1tD5wZlkw7CM9KFBEfG2Q6OX6"
  crossorigin="anonymous"
></script>

</body>
</html>