<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Your Show</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <style>
    .navbar-brand img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }
    .nav-link {
      font-size: 1.1rem;
      margin-right: 20px;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg" style="background-color: #0d1b2a;">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center text-white me-4"  href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfl_zLiq9FsBzbUgLVpSDV86t41aRxv4IJYg&s" alt="Logo" class="me-2 rounded-circle">
        BookYourShow
      </a>

      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          
          <li class="nav-item">
            <a class="nav-link text-white" href="#">My Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Wallet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</body>
</html>
